<%= simple_form_for @movie do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <div class="form-group">
      <%= f.input :title, class: "form-control" %>
    </div>
    <%= f.input :storyline %>
    <%= f.input :tagline %>
    <%= f.input :rating %>
    <div class="form-group">
      <%= f.input :image, class: "form-control-file" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
