<%= image_tag @movie.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Storyline:</strong>
  <%= @movie.storyline %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @movie.tagline %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @movie.user.email %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
